<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800 border-t-2 border-gray-100 border-solid">
  <div class="mx-auto max-w-screen-xl text-center">
    <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
      <li>
        <a href="/about" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
        <a href="/articles" class="mr-4 hover:underline md:mr-6">Articles</a>
      </li>
      <% if (!currentUser) { %>

      <li>
        <a href="/login" class="mr-4 hover:underline md:mr-6">Sign in</a>
      </li>
      <li>
        <a href="/signup" class="mr-4 hover:underline md:mr-6">Register</a>
      </li>
      <% } %>

    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">Waterify</a>. All Rights Reserved.</span>
    <br>
    <span class="text-xs text-gray-500 sm:text-center dark:text-gray-400">Logo is a trademark of Flowbite<sup>TM</sup></span>
  </div>
</footer>