<%- include('partials/header', { title: 'About - Waterify' }) %>

<body class="">
<%- include('partials/navbar') %>
  <div class="bg-primary text-white py-8">

  </div>
  <div class="px-8 py-3 w-full" style="max-height: 300px !important; object-fit: cover;">
    <img src="/public/assets/water.jpg" alt="" style="object-fit: cover; max-height: 300px; width: 90%; margin-left: auto; margin-right: auto;">
  </div>
  <div class="container mx-auto my-8 p-8 bg-primary-200 rounded shadow-lg">
    <h2 class="text-2xl font-semibold mb-4">About Waterify</h2>
    <p class="text-gray-700 leading-relaxed">
        Waterify is a student-led initiative that envisions a more sustainable and conscious world. Developed by high-schoolers, our website empowers users to make a positive impact on their communities and the environment by simply tracking their daily water usage & competing against their neighbors.    </p>
  </div>
  <div class="px-8 py-3 w-full hidden md:block" style="object-fit: cover;">
    <img src="/public/assets/ss.png" alt="" style="object-fit: cover; width: 60%; min-width: 320px; max-width: 100%; margin-left: auto; margin-right: auto;">
  </div>
  <div class="container mx-auto my-8 p-8 bg-primary-200 rounded shadow-lg">
    <h2 class="text-2xl font-semibold mb-4">Benefits</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="bg-gray-100 p-4 rounded">
        <h3 class="text-lg font-semibold">Reduce Water Usage</h3>
        <p class="text-gray-700">Water is a precious resource that needs to be conserved.</p>
      </div>
      <div class="bg-gray-100 p-4 rounded">
        <h3 class="text-lg font-semibold">Friendly Competition</h3>
        <p class="text-gray-700">Neighborhood competition can lead to better results for the whole community.</p>
      </div>
      <div class="bg-gray-100 p-4 rounded">
        <h3 class="text-lg font-semibold">Increased Awareness</h3>
        <p class="text-gray-700">Articles & resources help build awareness on the topic of water conservation.</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto my-8 p-8 bg-primary-200 rounded shadow-lg">
    <h2 class="text-2xl font-semibold mb-4">Our Team</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="bg-gray-100 p-4 rounded">
        <h3 class="text-lg font-semibold">Jibril Asif</h3>
        <p class="text-gray-700">Web Developer</p>
      </div>
      <div class="bg-gray-100 p-4 rounded">
        <h3 class="text-lg font-semibold">Manil Mehta</h3>
        <p class="text-gray-700">Content Developer</p>
      </div>
      <div class="bg-gray-100 p-4 rounded">
        <h3 class="text-lg font-semibold">Madhav Donthula</h3>
        <p class="text-gray-700">Designer</p>
      </div>
    </div>
  </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<%- include('partials/footer') %>

</html>