<%- include('partials/header', { title: 'Articles - Waterify' }) %>

<body>
  <%- include('partials/navbar') %>
  <section class="bg-white dark:bg-gray-900 mt-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
      <h1 class="mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Articles</h1>
      <h3 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-blue-600 md:text-2xl lg:text-3xl dark:text-white"><a href="https://mainpy-uh6pdccadj7qcdfnhgzw9t.streamlit.app/" target="_blank" rel="noopener noreferrer">Interactive AI Tool (Water Potability)</a></h3>
      <a href="https://docs.google.com/document/d/13NXz6g76Dfrvjlfs9H4HUeX4DGNlbrcwfeVdgIJfajg/view" target="_blank" rel="noopener noreferrer" class="flex mb-2 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 ml-auto mr-auto">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/public/assets/oneimg.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">5 Effective Ways to Conserve Water</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
      </a>
      <a href="https://docs.google.com/document/d/10FULWD6EDHhVOUkv7QB9T9AU-2rrKUUvJCblMD1zMdE/view" target="_blank" rel="noopener noreferrer" class="flex mb-2 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 ml-auto mr-auto">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/public/assets/oneimg.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">California Drought</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
      </a>
      <a href="https://docs.google.com/document/d/1ok62xlWXe_ZbH1tZi3-lcloeeT8Y4C2AG7KaY1ZDZuU/view" class="flex mb-2 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 ml-auto mr-auto">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/public/assets/oneimg.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Managing Water Droughts Through Innovative Solutions</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
      </a>
      <a href="https://docs.google.com/document/d/1Whs5rE3Vt_cQN5CMTY8hoNRsbwLqSVoWF2Mf8JkJoLY/view" class="flex mb-2 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 ml-auto mr-auto">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/public/assets/oneimg.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Water Droughts and Ecosystems: A Delicate Balance</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
      </a>
      <a href="https://docs.google.com/document/d/1IBp7W58XHfVPg8wTLsdmVFZXFxlqkZUz0Sq8KpTMUX4/view" class="flex mb-2 flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 ml-auto mr-auto">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/public/assets/oneimg.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> The Future of Water Droughts: Challenges and Solutions</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
      </a>

    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<%- include('partials/footer') %>

</html>