@tailwind base;
@tailwind components;
@tailwind utilities;

ion-icon {
    vertical-align: middle;
    padding-bottom: 3.7px;
}

ion-icon {
    margin-bottom: -3.7px;
}

.dashboard thead th {
    position: sticky;
    scroll-margin-top: 20px
}

body>*:not(.navbar) {
    scroll-margin-top: 25px;
    scroll-snap-top: 25px;
}